{# src/Sdz/BlogBundle/Resources/views/Blog/traduction.html.twig #}
 
<html>
 <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 </head>
  <body>
   {{ 'Hello'|trans({}, 'messages') }} {{ name }}!
   
   <br>
   {% for i in 0..2 %}
    <p>{{ ('charte.donnee.' ~ i )|trans }}</p>
{% endfor %}


  </body>
</html>